@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0f172a;
    --foreground: #f8fafc;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}