@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0f172a;
    --foreground: #f8fafc;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

.up {
    color: #ef4444 !important;
    /* Red-400 */
}

.down {
    color: #22c55e !important;
    /* Green-400 */
}